<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Pokemon</title>
    <style>
      body{
        font-family: arial;
      }
    </style>
  </head>
  <body>
    <h1>Edit <%= pokemon.name %></h1>
    <p><a href="/pokemon">back</a></p>
    <hr>
    <br>
    <form action="/editp/<%= pokemon.id %>" method="post">
      <input type="text" name="name" value="<%= pokemon.name %>">
      <br>
      <br>
      <input type="text" name="cp" value="<%= pokemon.cp %>">
      <br>
      <br>
        <p>In Gym: <%= pokemon.in_gym %></p>
      <br>
      <label for="trainer_id">Change Trainer: </label>
      <select name="trainer_id">
        <option selected value="<%= pokemonTrainer.id %>">
          <%= pokemonTrainer.name %>
        </option>
        <% for(let k=0; k<trainers.length; k++){ %>
            <option value="<%= trainers[k].id %>">
              <%= trainers[k].name %>
            </option>
        <% } %>
      </select>
      <br>
      <br>
      <input type="submit" value="Edit">
    </form>
  </body>
</html>
