<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Pokemon - Node!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <div class="container">
    <div class="fixed-action-btn toolbar">
      <a class="btn-floating btn-large red pulse">
      <i class="large material-icons">menu</i>
    </a>
      <ul>
        <li class="waves-effect waves-light"><a href="/pokemon">Pokemón</a></li>
        <li class="waves-effect waves-light"><a href="/trainers">Trainer</a></li>
        <li class="waves-effect waves-light"><a href="/gym">Gym</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="box">
        <div class="page-title">
          <h3>gym</h3>
        </div>
        <div class="back">
          <p><a href="/pokemon">BACK</a></p>
        </div>
        <div class="winner">
          <h6>Winner</h6>
          <h5 id="winner-name"><%= winner[0] %></h5>
        </div>

        <% if(players.length < 2){ %>

          <div class="row battle">
            <!-- Player 1 -->
            <div class="col s12 m5">
              <h5 class="players">Pokemon 1</h5>
              <% for(let j=0; j<firstPlayer.length; j++){ %>
                <% if(parseInt(players[0]) === firstPlayer[j].id){ %>
                  <h4><%= firstPlayer[j].name; %></h4>
                  <% } %>
                    <% } %>
                      <form action="/selectplayerone" method="post">
                        <select class="browser-default" name="id">
                        <% for(let i=0; i<firstPlayer.length; i++){ %>
                          <option value="<%= firstPlayer[i].id %>">
                            <%= firstPlayer[i].name %></option>
                        <% } %>
                        </select>
                        <br>
                        <input type="submit" value="Select Player 1">
                      </form>
            </div>
            <!-- vs -->
            <div class="col s12 m2">
              <div class="vs">
                <br>
                <br>
                <h5>vs</h5>
              </div>
            </div>
            <!-- Player 2 -->
            <div class="col s12 m5">
              <h5 class="players">Pokemon 2</h5>
              <% for(let k=0; k<secondPlayer.length; k++){ %>
                <% if(parseInt(players[1]) === secondPlayer[k].id){ %>
                  <h4><%= secondPlayer[k].name; %></h4>
                  <% } %>
                    <% } %>
                      <form action="/selectplayertwo" method="post">
                        <select class="browser-default" name="id">
                          <% for(let j=0; j<secondPlayer.length; j++){ %>
                            <option value="<%= secondPlayer[j].id %>">
                              <%= secondPlayer[j].name %></option>
                          <% } %>
                        </select>
                        <br>
                        <input type="submit" value="Select Player 2">
                      </form>
            </div>



            <% } else { %>


              <div class="row battle">
                <!-- Player 1 -->
                <div class="col s12 m5">
                  <h5 class="players">Pokemon 1</h5>
                  <% for(let j=0; j<firstPlayer.length; j++){ %>
                    <% if(parseInt(players[0]) === firstPlayer[j].id){ %>
                      <h4><%= firstPlayer[j].name; %></h4>
                      <% } %>
                        <% } %>
                          <form action="/selectplayerone" method="post">
                            <select class="browser-default" name="id">
                            <% for(let i=0; i<firstPlayer.length; i++){ %>
                              <option value="<%= firstPlayer[i].id %>">
                                <%= firstPlayer[i].name %></option>
                            <% } %>
                            </select>
                            <br>
                            <input disabled type="submit" value="Select Player 1">
                          </form>
                </div>

                <div class="col s12 m2">
                  <div class="vs">
                    <br>
                    <br>
                    <h5>vs</h5>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h5 class="players">Pokemon 2</h5>
                  <% for(let k=0; k<secondPlayer.length; k++){ %>
                    <% if(parseInt(players[1]) === secondPlayer[k].id){ %>
                      <h4><%= secondPlayer[k].name; %></h4>
                      <% } %>
                        <% } %>
                          <form action="/selectplayertwo" method="post">
                            <select class="browser-default" name="id">
                            <% for(let j=0; j<secondPlayer.length; j++){ %>
                              <option value="<%= secondPlayer[j].id %>">
                                <%= secondPlayer[j].name %></option>
                            <% } %>
                            </select>
                            <br>
                            <input disabled type="submit" value="Select Player 2">
                          </form>
                </div>
              </div>

              <% } %>

                <br>
                <br>
                <div class="row">
                  <div class="col s12 m12">
                    <div class="action-error">
                      <% if(parseInt(players[0]) === parseInt(players[1])){ %>
                        <p id="same-player-error">A Pokemón cannot fight itself! Click on reset and choose a different Pokemón!</p>
                        <% } else if(players.length > 1){%>
                          <div>
                            <a href="/battle/<%= players[0] %>/<%=players[1]%>" class="waves-effect waves-light btn green">BATTLE</a>
                          </div>
                          <% } %>
                            <br>
                            <div>
                              <a href="/resetgym" class="waves-effect waves-light btn red">RESET</a>
                            </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="by">
        &copy; 2017, Made by Rahul
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>
